.banner {
  max-width: 80%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h4, h5, h6 {
  margin: 0.3rem auto;
}

img {
 margin: 0;
}

.photo-entry-block {
  margin: 2rem;
  width: 30%;
}

.photo-img {
  width: 80%;
}

.sidenav {
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.menu-button {
  width: 70px;
  height: 50px;
  background-color: red;
  margin-bottom: 10px;
}

.menu-button:hover {
  background-color: black;
  color:red;
}

.close-menu-button {
  width: 100%;
  height: 50px;
  background-color: red;
  margin-bottom: 10px;
}

.close-menu-button:hover {
  background-color: black;
  color:red;
}

.menu-item {
  background-color: red;
  color: white;
  height: 100px;
  width: 100%;
  padding-top: 40px;
}

.menu-item:hover {
  background-color: black;
  color: red;
}

.editable-text-box {
  background-color: rgb(66, 65, 65);
  border: solid 2px;
  border-color:red;
  padding: 20px;
}